*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header li{
    display: inline;
}

.container {
    width: 1300px ;
    margin: 0 auto 0 auto;
}

.articles {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.articles article img{
    height: 360px;
    width: 100%; 
}

.articles article{
    width: 40%;
}

h1 {
    color: #2b2c41;
    ; /*fundo principal*/

/*Fonte rockwell*/
}

h2{
    color: #baffc9;
}

#news h2
{
    color:  #f3f1da; /*fundo secundario*/
}

#economy h2
{
    color: #6c72be;
}

#sport h2
{
    color: #f3dada;
}

#cars h2
{
    color:  #404066;
}

#games h2 
{
    color: #edcc6f;
}

/*color: #2b2c41;*/

body
{
    background-color: #bae1ff;
}