*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    height: auto;
}

body > header { 
    background: linear-gradient(to bottom, #80BCBD, #AAD9BB); 
    padding: 16px 0;
}

header .conteiner{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header img {
    height: 50px;
    width: 50px;
}

header h1{
    margin-right: 650px;
}

header li{
    display: inline;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-left: 16px;
}

header li a{
    text-decoration: none;
    color:black;
    justify-content: space-between;
    padding-block: 5px;
}

.conteiner {
    width: 1366px;
    margin: 0 auto 0 auto;
}

.articles{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.articles article img{ 
    height: 250px;
    width: 400px;
}

.articles article{
    width: 30%;
}

.articles article h3 {
    margin: 16px 0;
    font-size: 24px;
}

.articles article a{ 
    color: white;
    padding: 4px;
    display: inline-block;
    text-decoration: none;
    border-radius: 12px;
    transition: background .3s;
    font-weight: bold;
    margin-top: 8px;
}

.articles article a:hover{
    text-decoration:underline;
}

.articles article p{
    font-family: Arial, Helvetica, sans-serif;
}

section{ 
    padding: 16px 0;
}

section h2{
    margin-bottom: 16px;
    font-size: 32px;
}

header section article img {
    height: 100px;
    width: 100px;
} 

.conteiner p{
    align-items: center;
    justify-content:right;
}

#technology {
    background-color: #51829B;
}

#technology .articles article a {
    background-color: #E1AA74;
}
#technology .articles article h3 {
    color: #E1AA74;
}

#economy {
    background-color: #186F65;
}

#economy .articles article a {
    background-color: #B5CB99;
}
#economy .articles article h3 {
    color: #B5CB99;
}

#entertainment {
    background-color: #8B322C;
}

#entertainment .articles article a {
    background-color: #DD5746;
}
#entertainment .articles article h3 {
    color: #DD5746;
}

#esports {
    background-color: #edcc6f;
}

#esports .articles article a {
    background-color: #B80000;
}
#esports .articles article h3 {
    color: #B80000;
}

.main_footer { background-color: #404066;}

.main_footer p{
    justify-content: center;
    display: flex;
    padding-block: 15px;
}
